<!DOCTYPE html>
<html ng-app="h4b">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />

        <title>H4Bit</title>

        <!-- // icons & favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
        <link rel="shortcut icon" href="library/images/favicon.ico" type="image/x-icon" />
        <link href="img/favicon_60.png" rel="apple-touch-icon" />
        <link href="img/favicon_76.png" rel="apple-touch-icon" sizes="76x76" />
        <link href="img/favicon_120.png" rel="apple-touch-icon" sizes="120x120" />
        <link href="img/favicon_152.png" rel="apple-touch-icon" sizes="152x152" />       
        
        <!-- styles -->
        <!-- FontAwesome Icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>        

        <link rel="stylesheet" type="text/css" href="css/style.css"/>

        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">            
            app3.initialize();
        </script>
    </head>

    <body>        
        <div class="app" ng-controller="MainController">
            <!-- Nav -->
            <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a ng-href="#/home"><i class="fa fa-home fa-2x"></i></a></li>
                        <li><a ng-href="#/history"><i class="fa fa-history fa-2x"></i></a></li>
                        <li><a ng-href="#/actions"><i class="fa fa-bullseye fa-2x"></i></a></li>
                        <li><a ng-href="#/settings"><i class="fa fa-cog fa-2x"></i></a></li>
                    </ul>            
                </div>
            </nav>

            <!-- screens -->
            <section>
                <!--
                <h1>H4bit tracker</h1>
                <div id="deviceready" class="blink">
                    <p class="event listening">Connecting to Device</p>
                    <p class="event received">Device is Ready</p>
                </div>
                -->
               <div ng-view></div> 

                 <!-- <div class="container-fluid">    
                  <h1 class="score">SCORE {{user.xp}}</h1>
                  <ul>
                    <li ng-repeat="(id, action) in user.actions">
                      <a class="btn btn-default btn-block" role="button" ng-click="handleClick(action)">{{action.name}} | {{action.xp}}</a>
                    </li>
                  </ul>
                </div>-->

            </section>
        </div>

        <script type="text/javascript" src="cordova.js"></script>
        

        <!-- google hosted apis 
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="//code.angularjs.org/1.4.4/angular.js"></script>  
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>-->
        <script src="js/lib/angular.1.4.8.min.js"></script>  
        <script src="js/lib/angular-route.1.4.8.min.js"></script>

        <!-- Firebase -->
        <script src="js/lib/firebase.js"></script>
        <script src="js/lib/angularfire.min.js"></script>

        <!-- habit builder -->    
        <script src="js/common.js"></script>    
        <script src="js/config.js"></script>
        <script src="js/mainController.js"></script>
        <script src="js/historyController.js"></script>
        

        <!-- services -->
        <script src="js/dataService.js"></script>  

        <script type="text/javascript">
            
        </script>

    </body>
</html>
